## Purpose

In [2]:
#import dependencies
import pandas as pd

In [3]:
#import data
data = pd.read_csv("survey.csv")
data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [5]:
data.Gender.value_counts()

Male                                              615
male                                              206
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Male                                                3
Woman                                               3
Man                                                 2
Female (trans)                                      2
Cis Male                                            2
Female                                              2
woman                                               1
Trans woman                                         1
Cis Female                                          1
maile                                               1
Genderqueer                                         1
Neuter                                              1
Trans-female                                        1
p                                                   1
Guy (-ish) ^_^                                      1
msle                                                1
cis-female/femme                                    1
queer                                               1
something kinda male?                               1
All                                                 1
queer/she/they                                      1
Female (cis)                                        1
Male (CIS)                                          1
Malr                                                1
Agender                                             1
non-binary                                          1
Male-ish                                            1
Mal                                                 1
Nah                                                 1
Cis Man                                             1
fluid                                               1
Enby                                                1
A little about you                                  1
Femake                                              1
femail                                              1
ostensibly male, unsure what that really means      1
cis male                                            1
Mail                                                1
male leaning androgynous                            1
Androgyne                                           1
Name: Gender, dtype: int64

In [8]:
#clean the gender data
data.replace(["male","M","m","Make","Cis Male","Man","maile","Mal","Malr","Male (CIS)","cis male","Mail","msle","Cis Man"],"Male",inplace=True)

In [9]:
data.Gender.value_counts()

Male                                              987
Female                                            121
female                                             62
F                                                  38
f                                                  15
Male                                                3
Woman                                               3
Female (trans)                                      2
Female                                              2
p                                                   1
woman                                               1
Neuter                                              1
Cis Female                                          1
Guy (-ish) ^_^                                      1
Genderqueer                                         1
cis-female/femme                                    1
Trans-female                                        1
queer                                               1
something kinda male?                               1
Trans woman                                         1
male leaning androgynous                            1
queer/she/they                                      1
Female (cis)                                        1
All                                                 1
femail                                              1
ostensibly male, unsure what that really means      1
Femake                                              1
A little about you                                  1
Enby                                                1
fluid                                               1
Nah                                                 1
Male-ish                                            1
non-binary                                          1
Agender                                             1
Androgyne                                           1
Name: Gender, dtype: int64

In [10]:
data.replace("Male ","Male",inplace =True)

In [11]:
data.Gender.value_counts()

Male                                              990
Female                                            121
female                                             62
F                                                  38
f                                                  15
Woman                                               3
Female (trans)                                      2
Female                                              2
Neuter                                              1
woman                                               1
Guy (-ish) ^_^                                      1
Trans woman                                         1
cis-female/femme                                    1
Cis Female                                          1
queer                                               1
Genderqueer                                         1
Trans-female                                        1
something kinda male?                               1
p                                                   1
Female (cis)                                        1
queer/she/they                                      1
Agender                                             1
male leaning androgynous                            1
All                                                 1
femail                                              1
ostensibly male, unsure what that really means      1
Femake                                              1
A little about you                                  1
Enby                                                1
fluid                                               1
Nah                                                 1
Male-ish                                            1
non-binary                                          1
Androgyne                                           1
Name: Gender, dtype: int64

In [14]:
data.replace(["female","F","f","Woman","Female","woman","cis-female/femme","Cis Female","Femake","femail","Female (cis)"],"Female",inplace=True)

In [15]:
data.Gender.value_counts()

Male                                              990
Female                                            245
Female (trans)                                      2
Female                                              2
queer/she/they                                      1
something kinda male?                               1
queer                                               1
Guy (-ish) ^_^                                      1
Neuter                                              1
p                                                   1
Trans woman                                         1
Genderqueer                                         1
Trans-female                                        1
male leaning androgynous                            1
Agender                                             1
All                                                 1
ostensibly male, unsure what that really means      1
A little about you                                  1
Enby                                                1
fluid                                               1
Nah                                                 1
Male-ish                                            1
non-binary                                          1
Androgyne                                           1
Name: Gender, dtype: int64

In [16]:
data.replace("Female ","Female",inplace=True)

In [17]:
data.Gender.value_counts()

Male                                              990
Female                                            247
Female (trans)                                      2
queer/she/they                                      1
something kinda male?                               1
queer                                               1
Guy (-ish) ^_^                                      1
Neuter                                              1
p                                                   1
Trans woman                                         1
Genderqueer                                         1
Trans-female                                        1
All                                                 1
male leaning androgynous                            1
Agender                                             1
ostensibly male, unsure what that really means      1
A little about you                                  1
Enby                                                1
fluid                                               1
Nah                                                 1
Male-ish                                            1
non-binary                                          1
Androgyne                                           1
Name: Gender, dtype: int64

In [18]:
data.replace(["Female (trans)","Male-ish","Androgyne","Trans-female","something kinda male?","Genderqueer","Agender","male leaning androgynous","Trans woman","queer","All","non-binary","Neuter","Enby","fluid","queer/she/they","Guy (-ish) ^_^ ","ostensibly male, unsure what that really means"],"LGBTQ",inplace=True)

In [19]:
data.Gender.value_counts()

Male                  990
Female                247
LGBTQ                  18
Nah                     1
A little about you      1
p                       1
Guy (-ish) ^_^          1
Name: Gender, dtype: int64

In [20]:
data.replace("Guy (-ish) ^_^","LGBTQ",inplace =True)

In [21]:
data.Gender.value_counts()

Male                  990
Female                247
LGBTQ                  19
Nah                     1
A little about you      1
p                       1
Name: Gender, dtype: int64

In [22]:
data = data[~data["Gender"].isin(["A little about you","p","Nah"])]

In [23]:
data.Gender.value_counts()

Male      990
Female    247
LGBTQ      19
Name: Gender, dtype: int64

In [24]:
sum(data.self_employed.isna())

18

In [25]:
data.dropna(subset=["self_employed"],inplace=True)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 18 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1238 non-null   object
 1   Age                        1238 non-null   int64
 2   Gender                     1238 non-null   object
 3   Country                    1238 non-null   object
 4   state                      730 non-null    object
 5   self_employed              1238 non-null   object
 6   family_history             1238 non-null   object
 7   treatment                  1238 non-null   object
 8   work_interfere             974 non-null    object
 9   no_employees               1238 non-null   object
 10  remote_work                1238 non-null   object
 11  tech_company               1238 non-null   object
 12  benefits                   1238 non-null   object
 13  care_options               1238 non-null   object
 14  wellness_program           1238 non-null   object
 15  seek_help                  1238 non-null   object
 16  anonymity                  1238 non-null   object
 17  leave                      1238 non-null   object
 18  mental_health_consequence  1238 non-null   object
 19  phys_health_consequence    1238 non-null   object
 20  coworkers                  1238 non-null   object
 21  supervisor                 1238 non-null   object
 22  mental_health_interview    1238 non-null   object
 23  phys_health_interview      1238 non-null   object
 24  mental_vs_physical         1238 non-null   object
 25  obs_consequence            1238 non-null   object
 26  comments                   159 non-null    object
dtypes: int64(1), object(26)
memory usage: 270.8+ KB

In [27]:
data.drop(columns=["state","work_interfere"],inplace=True)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 18 to 1258
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1238 non-null   object
 1   Age                        1238 non-null   int64
 2   Gender                     1238 non-null   object
 3   Country                    1238 non-null   object
 4   self_employed              1238 non-null   object
 5   family_history             1238 non-null   object
 6   treatment                  1238 non-null   object
 7   no_employees               1238 non-null   object
 8   remote_work                1238 non-null   object
 9   tech_company               1238 non-null   object
 10  benefits                   1238 non-null   object
 11  care_options               1238 non-null   object
 12  wellness_program           1238 non-null   object
 13  seek_help                  1238 non-null   object
 14  anonymity                  1238 non-null   object
 15  leave                      1238 non-null   object
 16  mental_health_consequence  1238 non-null   object
 17  phys_health_consequence    1238 non-null   object
 18  coworkers                  1238 non-null   object
 19  supervisor                 1238 non-null   object
 20  mental_health_interview    1238 non-null   object
 21  phys_health_interview      1238 non-null   object
 22  mental_vs_physical         1238 non-null   object
 23  obs_consequence            1238 non-null   object
 24  comments                   159 non-null    object
dtypes: int64(1), object(24)
memory usage: 251.5+ KB

In [29]:
data.drop(columns=["comments"],inplace=True)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 18 to 1258
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1238 non-null   object
 1   Age                        1238 non-null   int64
 2   Gender                     1238 non-null   object
 3   Country                    1238 non-null   object
 4   self_employed              1238 non-null   object
 5   family_history             1238 non-null   object
 6   treatment                  1238 non-null   object
 7   no_employees               1238 non-null   object
 8   remote_work                1238 non-null   object
 9   tech_company               1238 non-null   object
 10  benefits                   1238 non-null   object
 11  care_options               1238 non-null   object
 12  wellness_program           1238 non-null   object
 13  seek_help                  1238 non-null   object
 14  anonymity                  1238 non-null   object
 15  leave                      1238 non-null   object
 16  mental_health_consequence  1238 non-null   object
 17  phys_health_consequence    1238 non-null   object
 18  coworkers                  1238 non-null   object
 19  supervisor                 1238 non-null   object
 20  mental_health_interview    1238 non-null   object
 21  phys_health_interview      1238 non-null   object
 22  mental_vs_physical         1238 non-null   object
 23  obs_consequence            1238 non-null   object
dtypes: int64(1), object(23)
memory usage: 241.8+ KB

In [31]:
data.Age.value_counts(sort=False)

 5               1
 11              1
 18              7
 19              9
 20              6
 21             16
 22             21
 23             49
 24             46
 25             61
 26             75
 27             70
 28             68
 29             82
 30             63
 31             64
 32             80
 33             69
 34             65
 35             54
 36             36
 37             42
 38             39
 39             32
 40             33
 41             21
 42             18
 43             28
 44             10
 45             12
 46             12
 47              2
 48              6
 49              4
 50              6
 51              5
 53              1
 54              3
 55              3
 56              4
 57              3
 58              1
 60              2
 61              1
 62              1
 65              1
 72              1
 329             1
-29              1
-1726            1
 99999999999     1
Name: Age, dtype: int64

In [32]:
data = data[~data["Age"].isin([ 99999999999,-1726,-29,5,11,329])]

In [33]:
# data = data[~data["Age"].isin([5,11,329])]

In [34]:
Age_bin = pd.cut(x=data['Age'], bins=[17,30,49,50],labels=["18-29","30-49","50 and above"])

In [35]:
# data.drop(columns="Age_bins",inplace=True)
data.insert(2,"Age_bin",Age_bin)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1232 entries, 18 to 1258
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1232 non-null   object
 1   Age                        1232 non-null   int64
 2   Age_bin                    1206 non-null   category
 3   Gender                     1232 non-null   object
 4   Country                    1232 non-null   object
 5   self_employed              1232 non-null   object
 6   family_history             1232 non-null   object
 7   treatment                  1232 non-null   object
 8   no_employees               1232 non-null   object
 9   remote_work                1232 non-null   object
 10  tech_company               1232 non-null   object
 11  benefits                   1232 non-null   object
 12  care_options               1232 non-null   object
 13  wellness_program           1232 non-null   object
 14  seek_help                  1232 non-null   object
 15  anonymity                  1232 non-null   object
 16  leave                      1232 non-null   object
 17  mental_health_consequence  1232 non-null   object
 18  phys_health_consequence    1232 non-null   object
 19  coworkers                  1232 non-null   object
 20  supervisor                 1232 non-null   object
 21  mental_health_interview    1232 non-null   object
 22  phys_health_interview      1232 non-null   object
 23  mental_vs_physical         1232 non-null   object
 24  obs_consequence            1232 non-null   object
dtypes: category(1), int64(1), object(23)
memory usage: 241.9+ KB

In [37]:
# data.head(40)

In [38]:
#save file for analysis
data.to_csv("clean_survey.csv",index=False)